.flex-box{
  display: flex;
  flex-wrap: wrap;
  .left-side{
    flex:30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  .main{
    flex:70%;
    background-color: white;
    padding: 20px;
  }
}
